<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Pynched</h1>

  <h2>
    This is the home page for Pynched
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("pynchedLogo001.png", alt: "Pynched"), 'http://pynched.com/' %>
